body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#livro-detalhes {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.livro {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.livro h2 {
    font-size: 18px;
    margin: 10px 0;
}

.livro p {
    margin: 5px 0;
}

.row-image {
    max-width: 70px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.img-thumbnail {
    max-width: 80px;
    height: 125px;
}

.livro button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.livro button:hover {
    background-color: #218838;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #333;
    color: white;
    border: 1px solid #333;
}

.pagination a:hover {
    background-color: #ddd;
}
