<header>
    <nav>
        <div class="menu">
            <ul class="nav">
                <li><a id="menuInicial" href="/">Página Inicial</a></li>
                <li><a id="menuDashboard" href="/dashboard">Dashboard</a></li>
                <li><a id="menuRanking" href="/ranking">Ranking</a></li>
                <li>
                    <form id="searchForm" action="/search" method="post">
                        <input type="text" id="searchInput" name="query" placeholder="Pesquisar livros...">
                        <button type="submit">Pesquisar</button>
                    </form>
                </li>
                <li style="float:right;"><a id="menuPerfil" href="/perfil" style="display:none;">Perfil</a></li>
                <li style="float:right;"><a id="menuLogin" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
</header>