<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Biblioteca</title>
    <link rel="stylesheet" href="styles/login.css">
    <script src="scripts/login.js"></script>
</head>
<body>
    <div class="container">
        <h3>Login</h3>
        <form id="formLogin" action="">
            <label for="email">Email:</label>
            <input id="email" type="text" placeholder="Introduza o email" required>
            
            <label for="password">Palavra-Passe:</label>
            <input id="password" type="password" placeholder="Introduza a Palavra-Passe" required>
            
            <input type="submit" value="Login">
        </form>
        <p>Se não tem conta, <a href="/register">clique aqui</a> para se registrar.</p>
    </div>
</body>
</html>